<a href="https://colab.research.google.com/github/sanspareilsmyn/medium/blob/main/seq2seq_with_atis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# https://towardsdatascience.com/natural-language-understanding-with-sequence-to-sequence-models-e87d41ad258b

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
ls /content/drive/MyDrive/code/atis

atis.dict.intent.csv  atis.test.pkl          atis.train.pkl
atis.dict.slots.csv   atis.test.query.csv    atis.train.query.csv
atis.dict.vocab.csv   atis.test.slots.csv    atis.train.slots.csv
atis.test.intent.csv  atis.train.intent.csv

In [14]:
import os
import numpy as np
import pickle

In [16]:
DATA_DIR = '/content/drive/MyDrive/code/atis'

In [20]:
def load_ds(fname=os.path.join(DATA_DIR, '/atis.train.pkl'), verbose=True):
  with open(fname, 'rb') as stream:
    ds, dicts = pickle.load(stream)
  if verbose:
    print('Done  loading: ', fname)
    print('      samples: {:4d}'.format(len(ds['query'])))
    print('   vocab_size: {:4d}'.format(len(dicts['token_ids'])))
    print('   slot count: {:4d}'.format(len(dicts['slot_ids'])))
    print(' intent count: {:4d}'.format(len(dicts['intent_ids'])))
  return ds,dicts

In [39]:
def load_atis(filename, add_start_end_token=False, verbose=True):
  train_ds, dicts = load_ds(os.path.join(DATA_DIR, filename), verbose)
  t2i, s2i, in2i = map(dicts.get, ['token_ids', 'slot_ids', 'intent_ids'])
  i2t, i2s, i2in = map(lambda d: {d[k]:k for k in d.keys()}, [t2i, s2i, in2i])
  query, slots, intent = map(train_ds.get, ['query', 'slot_labels', 'intent_labels'])

  if add_start_end_token:
    i2s[178] = 'BOS'
    i2s[179] = 'EOS'
    s2i['BOS'] = 178
    s2i['EOS'] = 179

  input_tensor = []
  target_tensor = []
  query_data = []
  intent_data = []
  slot_data = []
  to_show = np.random.randint(0, len(query)-1, 5)

  for i in range(len(query)):
    input_tensor.append(query[i])
    slot_text = []
    slot_vector = []
    for j in range(len(query[i])):
      slot_text.append(i2s[slots[i][j]])
      slot_vector.append(slots[i][j])
    if add_start_end_token:
      slot_text[0] = 'BOS'
      slot_vector[0] = 178
      slot_text[-1] = 'EOS'
      slot_vector[-1]= 179
    target_tensor.append(slot_vector)
    q = ' '.join(map(i2t.get, query[i]))
    query_data.append(q.replace('BOS', '').replace('EOS', ''))
    intent_data.append(i2in[intent[i][0]])
    slot = ' '.join(slot_text)
    slot_data.append(slot[1:-1])
    if i in to_show and verbose:
      print('Query text:', q)
      print('Query vector: ', query[i])
      print('Intent label: ', i2in[intent[i][0]])
      print('Slot text: ', slot)
      print('Slot vector: ', slot_vector)
      print('*'*74)
  query_data = np.array(query_data)
  intent_data = np.array(intent_data)
  slot_data = np.array(slot_data)
  intent_data_label = np.array(intent).flatten()
  return t2i, s2i, in2i, i2t, i2s, i2in, input_tensor, target_tensor, query_data, intent_data, intent_data_label, slot_data

In [40]:
# load ATIS training dataset
t2i_train, s2i_train, in2i_train, i2t_train, i2s_train, i2in_train, \
input_tensor_train, target_tensor_train, \
query_data_train, intent_data_train, intent_data_label_train, slot_data_train = load_atis('atis.train.pkl')

# load ATIS testing dataset
t2i_test, s2i_test, in2i_test, i2t_test, i2s_test, i2in_test, \
input_tensor_test, target_tensor_test, \
query_data_test, intent_data_test, intent_data_label_test, slot_data_test = load_atis('atis.test.pkl')

Done  loading:  /content/drive/MyDrive/code/atis/atis.train.pkl
      samples: 4978
   vocab_size:  943
   slot count:  129
 intent count:   26
Query text: BOS i need to book a flight from newark to tampa on april fourth EOS
Query vector:  [178 479 617 851 264 180 428 444 620 851 816 654 227 439 179]
Intent label:  flight
Slot text:  O O O O O O O O B-fromloc.city_name O B-toloc.city_name O B-depart_date.month_name B-depart_date.day_number O
Slot vector:  [128, 128, 128, 128, 128, 128, 128, 128, 48, 128, 78, 128, 28, 27, 128]
**************************************************************************
Query text: BOS does united airline have any flights from dallas to san francisco EOS
Query vector:  [178 376 887 199 463 218 429 444 339 851 739 440 179]
Intent label:  flight
Slot text:  O O B-airline_name I-airline_name O O O O B-fromloc.city_name O B-toloc.city_name I-toloc.city_name O
Slot vector:  [128, 128, 2, 83, 128, 128, 128, 128, 48, 128, 78, 125, 128]
**************************************************************************
Query text: BOS i would like the flight from atlanta to denver that has the cheapest one way fare EOS
Query vector:  [178 479 932 545 827 428 444 242 851 351 826 462 827 296 656 906 414 179]
Intent label:  flight
Slot text:  O O O O O O O B-fromloc.city_name O B-toloc.city_name O O O B-cost_relative B-round_trip I-round_trip O O
Slot vector:  [128, 128, 128, 128, 128, 128, 128, 48, 128, 78, 128, 128, 128, 21, 66, 119, 128, 128]
**************************************************************************
Query text: BOS i 'd like to find the cheapest fare from atlanta to dallas EOS
Query vector:  [178 479   0 545 851 423 827 296 414 444 242 851 339 179]
Intent label:  airfare
Slot text:  O O O O O O O B-cost_relative O O B-fromloc.city_name O B-toloc.city_name O
Slot vector:  [128, 128, 128, 128, 128, 128, 128, 21, 128, 128, 48, 128, 78, 128]
**************************************************************************
Query text: BOS please show me flights from dallas to denver EOS
Query vector:  [178 688 770 581 429 444 339 851 351 179]
Intent label:  flight
Slot text:  O O O O O O B-fromloc.city_name O B-toloc.city_name O
Slot vector:  [128, 128, 128, 128, 128, 128, 48, 128, 78, 128]
**************************************************************************
Done  loading:  /content/drive/MyDrive/code/atis/atis.test.pkl
      samples:  893
   vocab_size:  943
   slot count:  129
 intent count:   26
Query text: BOS i need a flight from tampa to milwaukee EOS
Query vector:  [178 479 617 180 428 444 816 851 595 179]
Intent label:  flight
Slot text:  O O O O O O B-fromloc.city_name O B-toloc.city_name O
Slot vector:  [128, 128, 128, 128, 128, 128, 48, 128, 78, 128]
**************************************************************************
Query text: BOS i need a flight departing from milwaukee to indianapolis leaving monday before 8 am EOS
Query vector:  [178 479 617 180 428 353 444 595 851 489 539 601 253 158 210 179]
Intent label:  flight
Slot text:  O O O O O O O B-fromloc.city_name O B-toloc.city_name O B-depart_date.day_name B-depart_time.time_relative B-depart_time.time I-depart_time.time O
Slot vector:  [128, 128, 128, 128, 128, 128, 128, 48, 128, 78, 128, 26, 36, 35, 100, 128]
**************************************************************************
Query text: BOS how many passengers can fly on a 757 EOS
Query vector:  [178 477 575 672 282 431 654 180 155 179]
Intent label:  capacity
Slot text:  O O O O O O O O B-aircraft_code O
Slot vector:  [128, 128, 128, 128, 128, 128, 128, 128, 0, 128]
**************************************************************************
Query text: BOS what is the seating capacity of the m80 EOS
Query vector:  [178 916 498 827 750 286 646 827 571 179]
Intent label:  capacity
Slot text:  O O O O O O O O B-aircraft_code O
Slot vector:  [128, 128, 128, 128, 128, 128, 128, 128, 0, 128]
**************************************************************************
Query text: BOS is there one airline that flies from burbank to milwaukee milwaukee to st. louis and from st. louis to burbank EOS
Query vector:  [178 498 831 656 199 826 427 444 272 851 595 595 851 789 564 215 444 789
 564 851 272 179]
Intent label:  airline
Slot text:  O O O O O O O O B-fromloc.city_name O B-toloc.city_name B-fromloc.city_name O B-toloc.city_name I-toloc.city_name O O B-fromloc.city_name I-fromloc.city_name O B-toloc.city_name O
Slot vector:  [128, 128, 128, 128, 128, 128, 128, 128, 48, 128, 78, 48, 128, 78, 125, 128, 128, 48, 110, 128, 78, 128]
**************************************************************************

In [46]:
import pandas as pd

pd.set_option('display.max_colwidth', -1)
df = pd.DataFrame({'query': query_data_train, 'intent': intent_data_train, 'slot filing': slot_data_train})
df_small = pd.DataFrame(columns=['query', 'intent', 'slot filing'])
j = 0
for i in df.intent.unique():
  df_small.loc[j] = df[df.intent==i].iloc[0]
  j = j+1

df_small

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  This is separate from the ipykernel package so we can avoid doing imports until

                                                                                                                                                                     query  ...                                                                                                                                                                                                slot filing
0    i want to fly from boston at 838 am and arrive in denver at 1110 in the morning                                                                                        ...   O O O O O B-fromloc.city_name O B-depart_time.time I-depart_time.time O O O B-toloc.city_name O B-arrive_time.time O O B-arrive_time.period_of_day
1    what is the arrival time in san francisco for the 755 am flight leaving washington                                                                                     ...   O O O B-flight_time I-flight_time O B-fromloc.city_name I-fromloc.city_name O O B-depart_time.time I-depart_time.time O O B-fromloc.city_name
2    cheapest airfare from tacoma to orlando                                                                                                                                ...   B-cost_relative O O B-fromloc.city_name O B-toloc.city_name
3    what kind of aircraft is used on a flight from cleveland to dallas                                                                                                     ...   O O O O O O O O O O B-fromloc.city_name O B-toloc.city_name
4    what kind of ground transportation is available in denver                                                                                                              ...   O O O O O O O O B-city_name
5    what 's the airport at orlando                                                                                                                                         ...   O O O O O B-city_name
6    which airline serves denver pittsburgh and atlanta                                                                                                                     ...   O O O B-fromloc.city_name B-fromloc.city_name O B-fromloc.city_name
7    how far is it from orlando airport to orlando                                                                                                                          ...   O O O O O B-fromloc.airport_name I-fromloc.airport_name O B-toloc.city_name
8    what is fare code h                                                                                                                                                    ...   O O O O B-fare_basis_code
9    how much does the limousine service cost within pittsburgh                                                                                                             ...   O O O O B-transport_type O O O B-city_name
10   please tell me how many nonstop flights there are from boston to atlanta                                                                                               ...   O O O O O B-flight_stop O O O O B-fromloc.city_name O B-toloc.city_name
11   what city is the airport mco in                                                                                                                                        ...   O O O O O B-fromloc.airport_code O
12   flight numbers from columbus to minneapolis tomorrow                                                                                                                   ...   O O O B-fromloc.city_name O B-toloc.city_name B-depart_date.today_relative
13   how many seats in a 100                                                                                                                                                ...   O O O O O B-aircraft_code
14   give me the flights and fares on december twenty seventh from indianapolis to orlando                                                                                  ...   O O O O O O O B-depart_date.month_name B-depart_date.day_number I-depart_date.day_number O B-fromloc.city_name O B-toloc.city_name
15   show me all meals on flights from atlanta to washington                                                                                                                ...   O O O B-meal O O O B-fromloc.city_name O B-toloc.city_name
16   what are the air restrictions on flights from pittsburgh to atlanta for the airfare of 416 dollars                                                                     ...   O O O O O O O O B-fromloc.city_name O B-toloc.city_name O O O O B-fare_amount I-fare_amount
17   airline and flight number from columbus to minneapolis                                                                                                                 ...   O O O O O B-fromloc.city_name O B-toloc.city_name
18   what ground transportation is available from the pittsburgh airport to downtown and how much does it cost                                                              ...   O O O O O O O B-fromloc.airport_name I-fromloc.airport_name O O O O O O O O
19   show me the costs and times for flights from san francisco to atlanta                                                                                                  ...   O O O O O B-flight_time O O O B-fromloc.city_name I-fromloc.city_name O B-toloc.city_name
20   show me the cheapest fare in the database                                                                                                                              ...   O O O B-cost_relative O O O O
21   i want to fly from detroit to st. petersburg on northwest airlines and leave around 9 am tell me what aircraft are used by this flight and tell me the flight number   ...   O O O O O B-fromloc.city_name O B-toloc.city_name I-toloc.city_name O B-airline_name I-airline_name O O B-depart_time.time_relative B-depart_time.time I-depart_time.time O O O O O O O O O O O O O O O

[22 rows x 3 columns]

In [ ]:
# Creating Tensors부터 내일